$blue:    #686de0 !default;
$indigo:  #30336b !default;
$purple:  #be2edd !default;
$pink:    #e056fd !default;
$red:     #ff7979 !default;
$orange:  #ffbe76 !default;
$yellow:  #f6e58d !default;
$green:   #badc58 !default;
$teal:    #22a6b3 !default;
$cyan:    #7ed6df !default;